<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../public/styles/mycss.css" />
<html lang="en">
  <head> </head>
  <body class="container">
    <header></header>

    <main>
      <div class="firstDiv">
        <h1 class="rame">This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
