
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/addStudents/addStudents.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      // javaskriptis biblioteka jQuery
      $(document).ready(function () {
        $("#addStudentForm").submit(function (event) {
          event.preventDefault();
          var formData = $(this).serialize();
          console.log(formData);
          $.ajax({
            type: "POST",
            url: "/registeredUsers",
            data: formData,
            success: function (response) {
              // const firstName = $("#fname").val();
              // const lastName = $("#lname").val();
              // alert(response);
              console.log(response);
              // window.location = "http://localhost:3000/students";
            },
            error: function (xhr, status, error) {
              alert("error ", error);
            },
          });
        });
      });
    </script>
  </head>
  <body class="container">
    <!-- header ejs -->
    <%- include('../../views/header/header.ejs'); %>

    <main>
      <section class="sectionAddstudents">
            <h1>loggined Users Page</h1>
      </section>
    </main>

    <footer></footer>
  </body>
</html>

