<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <header></header>

    <main>
      <div class="jumbotron">
        <h1>This is great RAMEEEEEEEEEEEEEE</h1>
        <p>Welcome to templating using RAMEEEEEEEEEEEE EJS</p>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
