<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/homePage/homePage.css"
    />
    <!-- <link rel="stylesheet" href="../../views/header/header.ejs"> -->
  </head>
  <body class="container">
    <!-- header ejs -->
    <%- include('../../views/header/header.ejs'); %>

    <main>
      <div class="firstDiv">
        <h1 class="rame">This is great</h1>
        <p>Welcome to students page</p>
        <!-- <p><%=studentsList -%></p> -->

        <% studentsList = studentsList.map(function(elem) { %>
        <p><%= elem.firstName %></p>
        <% }); %>
      </div>
    </main>

    <footer></footer>
  </body>
</html>

<!-- <p><%- studentsList.join(" | ") %></p> -->
