<head>
  <link rel="stylesheet" type="text/css" href="/styles/header/navigate.css" />
</head>

<header class="header">
  <nav class="site-navigation">
    <div class="nav-item"><a href="/">HOME</a></div>
    <div class="nav-item"><a href="/students">Students</a></div>
    <div class="nav-item"><a href="/addStudents">Add Students</a></div>
  </nav>
</header>
